Source: libfsoframework
Priority: extra
Maintainer: Debian FreeSmartphone.Org Team <pkg-fso-maint@lists.alioth.debian.org>
DM-Upload-Allowed: yes
Uploaders: Heiko Stuebner <heiko@sntech.de>
Build-Depends: debhelper (>= 7), cdbs, pkg-config, valac (>= 0.7.6), libvala-dev, libglib2.0-dev, libdbus-1-dev, libdbus-glib-1-dev, libfsobasics-dev (>= 0.8.3.1), fso-misc-vapi (>= 0.5.0), libasound2-dev
Standards-Version: 3.8.3
Section: libs
Homepage: http://freesmartphone.org/
Vcs-Git: git://git.debian.org/git/pkg-fso/fso-misc-vapi.git
Vcs-Browser: http://git.debian.org/?p=pkg-fso/fso-misc-vapi.git;a=summary

Package: libfsoframework-dev
Section: libdevel
Architecture: any
Depends: libfsoframework0 (= ${binary:Version}), ${misc:Depends}, libdbus-1-dev, libdbus-glib-1-dev, fso-misc-vapi, libasound2-dev, libfsobasics-dev
Description: Development files for libfsoframework
 This library contains utility functions for
 freesmartphone.org API implementors.
 .
 Development files.

Package: libfsoframework0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: freesmartphone.org framework library
 This library contains utility functions for
 freesmartphone.org API implementors.
 .
 This package is part of the freesmartphone.org software stack
 and is targeted for smartphones.

Package: libfsoframework-dbg
Architecture: any
Section: debug
Depends: ${misc:Depends}, libfsoframework0 (= ${binary:Version})
Priority: extra
Description: debugging symbols for use with libfsoframework
 This library contains utility functions for
 freesmartphone.org API implementors.
 .
 This package contains unstripped shared libraries. It is provided primarily
 to provide a backtrace with names in a debugger, this makes it somewhat easier
 to interpret core dumps. The libraries are installed in /usr/lib/debug and
 are automatically used by gdb.
